@font-face {
    font-family: 'Size Font';
    src: url('/res/font/SourceCodeVariable-Roman.ttf');
}

.block-bg {
    -fx-background-color: #ffffff;
    -fx-background-radius: 5px;
    -fx-border-color: rgba(0, 0, 0, 0.48);
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-pref-width: 300px;
    -fx-max-width: 300px;
    -fx-min-width: 300px;
    -fx-min-height: 350px;
    -fx-max-height: 350px;
    -fx-pref-height: 350px;
    -fx-spacing: 20px;
}

.block-imgbox {
    -fx-border-color: rgba(0, 0, 0, 0.24);
    -fx-border-width: 1px;
    -fx-pref-width: 300px;
    -fx-max-width: 300px;
    -fx-min-width: 300px;
    -fx-min-height: 210px;
    -fx-max-height: 210px;
    -fx-pref-height: 210px;
}

.block-topbar{
    -fx-alignment: center-left;
    -fx-pref-width: 240px;
    -fx-pref-height: 20px;
    -fx-background-color: #ffffff;
}


.block-botbar{
    -fx-alignment: center-left;
    -fx-pref-width: 240px;
    -fx-pref-height: 80px;
    /*-fx-background-color: #ffffff;*/
    -fx-background-color: #dddddd;
}


.block-menu-basic:hover {
    -fx-background-color: rgb(102, 102, 153);
}

.block-menu-basic:focused {
    -fx-background-color: rgb(102, 102, 153);
}

.block-box-close{
    -fx-background-color: #ffffff;
    -fx-pref-width: 15px;
    -fx-pref-height: 20px;
    -fx-border-width: none;
    -fx-background-radius: 100px;
}

.block-box-close:hover{
    -fx-cursor: hand;
    -fx-background-color: rgba(255, 119, 210, 0.73);
}


.block-box{
    -fx-pref-width: 225px;
    -fx-alignment: center-right;
}

.block-menu-bt {
    -fx-alignment: center-right;
    -fx-background-color: #ffffff;
    -fx-pref-width: 10px;
    -fx-pref-height: 15px;
}

.block-combo {
    -fx-alignment: center-right;
    -fx-background-color: rgba(0, 0, 0, 0.1);
    -fx-border-color: rgba(0, 0, 0, 0.21);
    -fx-border-width: 1px;
    -fx-pref-width: 125px;
    -fx-pref-height: 15px;
}

.background-lable{

    -fx-font-size: 50px;
    -fx-pref-width: 1024px;
    -fx-max-width: 1024px;
    -fx-min-width: 1024px;
    -fx-min-height: 700px;
    -fx-max-height: 700px;
    -fx-pref-height: 700px;
    /*-fx-border-width: 15px;*/
    /*-fx-border-color: red;*/
    -fx-text-fill: rgba(0, 0, 0, 0.49);
}

.center-pane{

    -fx-pref-width: 1024px;
    -fx-max-width: 1024px;
    -fx-min-width: 1024px;
    -fx-min-height: 700px;
    -fx-max-height: 700px;
    -fx-pref-height: 700px;
}


/*滚动条css*/
.scroll-pane {
    -fx-padding: 0px;
    -fx-background-insets: 0px;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:rgba(0, 0, 0, 0.16);
    -fx-pref-width: 10px;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    /*-fx-background-radius: 0em;*/
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: white;
    /*-fx-background-radius: 5em;*/
}

.main-box {
    -fx-padding: 20px;
    -fx-hgap: 30px;
    -fx-vgap: 30px;
}

.top-pane{
    -fx-min-height: 100px;
    -fx-max-height: 100px;
    -fx-pref-height: 100px;
    -fx-background-color: #ff565b;
}

.top-manebar{
    -fx-pref-height: 20px;
    -fx-background-color: rgb(221, 221, 221);
}

.top-ctrl{
    -fx-pref-height: 80px;
    -fx-alignment: center-left;
    -fx-background-color: rgb(252, 252, 252);
}

.top-ctrl-bt{
    -fx-alignment: center;
    -fx-background-color: rgb(252, 252, 252);
    -fx-border-width: 0px;
}

.top-ctrl-bt:hover{
    -fx-cursor: hand;
}

.size-Label{
    -fx-font-family: "Size Font";
    -fx-font-size: 12px;
}

.sizeBox{
    -fx-alignment: bottom-right;
    -fx-min-width: 125px;
    -fx-max-width: 125px;
}

.slidebox{
    -fx-pref-height: 40px;
    -fx-alignment: center;
    -fx-background-color: #d251ff;
}

.slidebar{
    -fx-pref-width: 180px;
    -fx-padding: 0px;
}

.slidebar:hover{
    -fx-cursor: hand;
}

.transbar{
    -fx-alignment: center;
    -fx-pref-height: 40px;
    /*-fx-background-color: #ff3550;*/
}