.block-bg {
    -fx-background-color: #ffffff;
    -fx-background-radius: 5px;
    -fx-border-color: rgba(0, 0, 0, 0.48);
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-pref-width: 260px;
    -fx-max-width: 260px;
    -fx-min-width: 260px;
    -fx-min-height: 300px;
    -fx-max-height: 300px;
    -fx-pref-height: 300px;
    -fx-spacing: 20px;
}

.block-imgbox {
    -fx-border-color: rgba(0, 0, 0, 0.24);
    -fx-border-width: 1px;
    -fx-pref-width: 260px;
    -fx-max-width: 260px;
    -fx-min-width: 260px;
    -fx-min-height: 200px;
    -fx-max-height: 200px;
    -fx-pref-height: 200px;
}

.block-topbar{
    -fx-alignment: center-left;
    -fx-pref-width: 240px;
    -fx-pref-height: 20px;
    -fx-background-color: #ffffff;
}


.block-butbar{
    -fx-alignment: center-left;
    -fx-pref-width: 240px;
    -fx-pref-height: 30px;
    -fx-background-color: #ffffff;
}


.block-menu-basic:hover {
    -fx-background-color: rgb(102, 102, 153);
}

.block-box-close{
    -fx-background-color: #ffffff;
    -fx-pref-width: 15px;
    -fx-pref-height: 20px;
    -fx-border-width: none;
}

.block-box-close:hover{
    -fx-cursor: hand;
}


.block-box{
    -fx-pref-width: 225px;
    -fx-alignment: center-right;
}

.block-menu-bt {
    -fx-alignment: center-right;
    -fx-background-color: #ffffff;
    -fx-pref-width: 10px;
    -fx-pref-height: 15px;
}

.block-combo {
    -fx-alignment: center-right;
    -fx-background-color: rgba(0, 0, 0, 0.1);
    -fx-border-color: rgba(0, 0, 0, 0.21);
    -fx-border-width: 1px;
    -fx-pref-width: 125px;
    -fx-pref-height: 15px;
}

.background-lable{
    -fx-font-size: 50px;
    -fx-pref-width: 1024px;
    -fx-max-width: 1024px;
    -fx-min-width: 1024px;
    -fx-min-height: 700px;
    -fx-max-height: 700px;
    -fx-pref-height: 700px;
    /*-fx-border-width: 15px;*/
    /*-fx-border-color: red;*/
    -fx-text-fill: rgba(0, 0, 0, 0.49);
}

.center-pane{

    -fx-pref-width: 1024px;
    -fx-max-width: 1024px;
    -fx-min-width: 1024px;
    -fx-min-height: 700px;
    -fx-max-height: 700px;
    -fx-pref-height: 700px;
}


/*滚动条css*/
.scroll-pane {
    -fx-padding: 0px;
    -fx-background-insets: 0px;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:rgba(0, 0, 0, 0.16);
    -fx-pref-width: 10px;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    /*-fx-background-radius: 0em;*/
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: white;
    /*-fx-background-radius: 5em;*/
}

.main-box {
    -fx-padding: 20px;
    -fx-hgap: 30px;
    -fx-vgap: 30px;
}