.block-bg {
    -fx-background-color: #ffffff;
    -fx-background-radius: 5px;
    -fx-border-color: rgba(0, 0, 0, 0.48);
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-pref-width: 225px;
    -fx-pref-height: 250px;
}


.block-topbar{
    -fx-alignment: center-left;
    -fx-pref-width: 240px;
    -fx-pref-height: 20px;
    -fx-background-color: #ffffff;
}


.block-butbar{
    -fx-alignment: center-left;
    -fx-pref-width: 240px;
    -fx-pref-height: 30px;
    -fx-background-color: #ff565b;
}


.block-menu-basic:hover {
    -fx-background-color: rgb(102, 102, 153);
}

.block-box-close{
    -fx-background-color: #ffffff;
    -fx-pref-width: 15px;
    -fx-pref-height: 20px;
    -fx-border-width: none;
}

.block-box-close:hover{
    -fx-cursor: hand;
}


.block-box{
    -fx-pref-width: 225px;
    -fx-alignment: center-right;
}

.block-menu-bt {
    -fx-alignment: center-right;
    -fx-background-color: #ffffff;
    -fx-pref-width: 10px;
    -fx-pref-height: 15px;
}

.main-box {
    -fx-padding: 10px;
}